/* Reset Page */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px 20px 0px 20px;
  height: auto;
}

.ticker-label {
  font-weight: bold;
  margin-right: 10px;
}

.ticker-dropdown {
  padding: 5px 10px;
  font-size: 1rem;
  background-color: black;
  border: 1px solid transparent;
  border-radius: 5px;
}

.MA-form{
  width: 100%;
}